{% if messages %}
  {% for message in messages %}
    <div id="popup-message" class="alert alert-success w-full max-w-sm shadow-lg fixed top-4 left-1/2 transform -translate-x-1/2">
      {% if 'error' in message.tags %}
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" /></svg>
      {% endif %}
        <span>{{ message }}</span>
    </div>
  {% endfor %}
{% endif %}
