<div class="drawer-side p-4">
  <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <ul class="menu space-y-2 text-base-content min-h-full w-80">
    <h2 class="text-2xl font-semibold mb-4">Smolib Digital</h2>
    <li class="{% if url_name == 'index' %}bg-primary text-primary-content rounded{% endif %}">
      <a href="{% url 'index' %}" class="flex items-center px-4 py-2 rounded hover:bg-gray-700">
        <span>🏠 Beranda</span>
      </a>
    </li>
    <li class="{% if target == 'kategori' %}bg-primary text-primary-content rounded{% endif %}">
      <a href="{% url 'kategori:list' %}" class="flex items-center px-4 py-2 rounded hover:bg-gray-700">
        <span>📦 Kategori</span>
      </a>
    </li>
    <li class="{% if target == 'buku' %}bg-primary text-primary-content rounded{% endif %}">
      <a href="{% url 'buku:list' %}" class="flex items-center px-4 py-2 rounded hover:bg-gray-700">
        <span>📚 Buku</span>
      </a>
    </li>
  </ul>
</div>
